*.iml
*.class
target
logs
.svn
.settings
.project
.classpath
*.scssc
classes
/dump.rdb
/hs_err_pid24292.log
/hs_err_pid32341.log
.vscode/*
.DS_Store
/src/main/webapp/new/src/test/*
.mvn
.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
